# Contact me if any problem occurred. mailto:yourbatman@aliyun.com | https://yourbatman.cn
# 当前为root目录 防止lombok在父级目录中搜索配置文件
clear config.stopBubbling
config.stopBubbling = true
clear lombok.val.flagUsage
lombok.val.flagUsage=ERROR
clear lombok.var.flagUsage
lombok.var.flagUsage=ERROR

# 注意：没用大写LOGGER，因为小写写起来更为顺手(不建议：log、LOG等名称)
lombok.log.fieldName = log

# 若可能，对所有生成的节点生成注释;对JaCoCo（内置支持），或者其他类型的检查器和代码覆盖工具非常有用
lombok.addLombokGeneratedAnnotation = true
